<% if parent_menu.present? and (params[:menu_id] == parent_menu.id or parent_menu.children.map(&:id).include?(params[:menu_id])) %>
  <li class="widget widget-categories">
    
    <h4 class="widget-title"><span class="main-color"></span><%= parent_menu.name %></h4>
    <div class="widget-content">
      <ul>
        <% menus.each do |child_1| %>
          <li>
            <a href="<%= child_1.path %>"><%= child_1.name %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>