<div class="form-group">
    <label class="col-md-2 control-label" ><%= t(:path) %></label>
    <div class="col-md-10">
        <h6 class="mb-0 text-semibold"><%= menu.path.html_safe %></h6 >
    </div>
</div>