<div class="page-title lg-padding">
    <div class="container">
        <h1 class="t-center font-50 uppercase bolder"><span class="main-color">successfully!</span></h1>
        <h3 class="t-center">Thanks for getting in touch with us, We'll check your message and get back to you shortly!</h3>
    </div>
    
    <div class="tbl">
        <div class="form-group m-t-2">
            <a href="<%= naturesoft_globalnaturesoft_com.root_path %>" class="btn main-bg btn-block btn-lg btn-3d uppercase">Back to Home</a>
        </div>
    </div>
</div>