<div class="col-md-4">
    <div class="white-bg lg-box t-center light-gry-border rect-angles">
        <i class="fa fa-map-marker main-color lg-icon"></i>
        <h4>Address</h4>
        <p>188, Street 1, Ward 16, Go Vap District
        <br>
         Ho Chi Minh City, Viet Nam</p>
    </div>
</div>

<div class="col-md-4">
    <div class="white-bg lg-box t-center light-gry-border rect-angles">
        <i class="fa fa-phone-square main-color lg-icon"></i>
        <h4>Phone</h4>
        <p>
            Phone: +84 8 3984 7690 - Ext: 204<br>
            Mobile: +84 97 974 4764<br>
        </p>
    </div>
</div>

<div class="col-md-4">
    <div class="white-bg lg-box t-center light-gry-border rect-angles">
        <i class="fa fa-envelope main-color lg-icon"></i>
        <h4>Support</h4>
        <p>
            soft.support@hoangkhang.com.vn<br>
            <span><a href="skype:luanpm88?chat">Live support - Chat now</a></span>
        </p>
    </div>
</div>