<div class="col-md-4">
    <div class="white-bg lg-box t-center light-gry-border rect-angles">
        <i class="fa fa-map-marker main-color lg-icon"></i>
        <h4>Address</h4>
        <p><%= contact_info["address"].html_safe %></p>
    </div>
</div>

<div class="col-md-4">
    <div class="white-bg lg-box t-center light-gry-border rect-angles">
        <i class="fa fa-phone-square main-color lg-icon"></i>
        <h4>Phone</h4>
        <p>
            Phone: <%= contact_info["phone_1"]%><br>
            Mobile: <%= contact_info["hotline_1"]%><br>
        </p>
    </div>
</div>

<div class="col-md-4">
    <div class="white-bg lg-box t-center light-gry-border rect-angles">
        <i class="fa fa-envelope main-color lg-icon"></i>
        <h4>Support</h4>
        <p>
            <%= contact_info["email_1"] %><br>
            <span><a href="skype:luanpm88?chat">Live support - Chat now</a></span>
        </p>
    </div>
</div>