<li><i class="fa fa-envelope main-color"></i><b class="main-color">Email:</b> <a href="mailto:<%= contact_info["email_1"] %>"><%= contact_info["email_1"] %></a></li>
<li><i class="fa fa-phone main-color"></i><b class="main-color">Phone:</b> <a href="tel:<%= contact_info["hotline_1"] %>"><%= contact_info["hotline_1"] %></a></li>